body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 200px;
  height: auto;
}

#TVshows {
  display: grid;
  gap: var(--size-3);
  grid-auto-flow: column;
  grid-auto-columns: 21%;

  overflow-x: auto;
}

#Movies {
  display: grid;
  gap: var(--size-3);
  grid-auto-flow: column;
  grid-auto-columns: 21%;

  overflow-x: auto;
}



